COMPOSE_PROJECT_NAME=financiero
FINANCIAL_API_PORT=8083
PORTAL_SQLSERVER_PORT=21433
SQLSERVER_SA_PASSWORD=CHANGE_ME_Same_Value_As_PortalCorporativo_Local_Password
PORTAL_GATEWAY_BASE_URL=http://host.docker.internal:8082
JWT_ISSUER=portal-corporativo
JWT_AUDIENCE=portal-corporativo-clients
JWT_SECRET=CHANGE_ME_Use_At_Least_32_Random_Characters
SEQ_SERVER_URL=http://host.docker.internal:5342
USE_PORTAL_AUDIT=false
USE_PORTAL_NOTIFICATION=false
USE_PORTAL_OUTBOX=false
USE_PORTAL_CONFIGURATION=false
