COMPOSE_PROJECT_NAME=financiero
FINANCIAL_API_PORT=8083
PORTAL_SQLSERVER_PORT=21433
SQLSERVER_SA_PASSWORD=CHANGE_ME_Same_Value_As_PortalCorporativo_Local_Password
PORTAL_GATEWAY_BASE_URL=http://host.docker.internal:8082
JWT_ISSUER=portal-corporativo
JWT_AUDIENCE=portal-corporativo-clients
JWT_SECRET=CHANGE_ME_Use_At_Least_32_Random_Characters
SEQ_SERVER_URL=http://host.docker.internal:5342
USE_PORTAL_AUDIT=false
USE_PORTAL_NOTIFICATION=false
USE_PORTAL_OUTBOX=false
USE_PORTAL_CONFIGURATION=false
FINANCIAL_SECRETS_PROVIDER=Disabled
FINANCIAL_SECRETS_KEY_VAULT_NAME=
FINANCIAL_SECRETS_ALLOW_DEVELOPMENT_SECRETS=false
FINANCIAL_SECRETS_MASK_SECRETS_IN_LOGS=true
SRI_ISSUER_RUC=9999999999999
SRI_ISSUER_LEGAL_NAME=EMISOR_DESARROLLO
SRI_ISSUER_TRADE_NAME=EMISOR_DESARROLLO
SRI_ISSUER_ADDRESS=DIRECCION_DESARROLLO
SRI_ENVIRONMENT=Test
SRI_INTEGRATION_MODE=Development
SRI_ALLOW_PRODUCTION=false
SRI_LOG_PAYLOADS=false
SRI_MASK_PAYLOADS=true
SRI_TEST_DRY_RUN=true
SRI_SIGNATURE_PROVIDER=Development
SRI_SIGNATURE_CERTIFICATE_SOURCE=SecretStore
SRI_SIGNATURE_CERTIFICATE_SECRET_NAME=
SRI_SIGNATURE_CERTIFICATE_PASSWORD_SECRET_NAME=
SRI_SIGNATURE_KEY_VAULT_NAME=
SRI_SIGNATURE_TIMESTAMP_POLICY=
SRI_SIGNATURE_REQUIRE_OCSP=false
SRI_SIGNATURE_LOCAL_CERTIFICATE_PATH=
SRI_SIGNATURE_LOCAL_CERTIFICATE_PASSWORD_SECRET_NAME=
SRI_SIGNATURE_REQUIRE_TRUSTED_CERTIFICATE=true
SRI_STORAGE_PROVIDER=Development
SRI_STORAGE_PORTAL_BASE_URL=
SRI_STORAGE_CONTAINER=financial-electronic-documents
SRI_STORAGE_TIMEOUT_SECONDS=30
SRI_STORAGE_SEND_PAYLOADS=false
SRI_STORAGE_MASK_PAYLOADS=true
SRI_STORAGE_RETAIN_XML=true
SRI_STORAGE_RETAIN_PDF=false
